public-f net.minecraft.data.recipes.RecipeProvider m_6055_()Ljava/lang/String; # getName
public net.minecraft.client.Minecraft f_91045_ # fontResourceMananger
public net.minecraft.client.gui.font.FontManager f_94999_ # idToFontMap
# ModCommonItems-tempered_glass
public net.minecraft.world.level.block.Blocks m_50778_(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/entity/EntityType;)Ljava/lang/Boolean; # neverAllowSpawn
public net.minecraft.world.level.block.Blocks m_50805_(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/core/BlockPos;)Z # isntSolid
#forremoval
public net.minecraft.world.effect.MobEffectInstance f_19503_ # duration
# SculkDashModifier&&StrengthResetEffect
public net.minecraft.world.entity.LivingEntity f_20922_ # attackStrengthTicker
# ResistingModifier
public net.minecraft.world.entity.projectile.AbstractArrow f_36701_ # piercingIgnoreEntityIds
public net.minecraft.world.entity.projectile.AbstractArrow f_36702_ # piercedAndKilledEntities
public net.minecraft.world.entity.projectile.AbstractArrow m_7761_(Lnet/minecraft/world/entity/LivingEntity;)V # doPostHurtEffects
public net.minecraft.world.entity.projectile.Arrow m_7761_(Lnet/minecraft/world/entity/LivingEntity;)V # doPostHurtEffects
public net.minecraft.world.entity.projectile.SpectralArrow m_7761_(Lnet/minecraft/world/entity/LivingEntity;)V # doPostHurtEffects
public net.minecraft.world.entity.projectile.AbstractArrow f_36700_ # soundEvent
public net.minecraft.world.entity.projectile.AbstractArrow m_7941_()Lnet/minecraft/world/item/ItemStack; # getPickupItem
public net.minecraft.world.entity.projectile.Arrow m_7941_()Lnet/minecraft/world/item/ItemStack; # getPickupItem
public net.minecraft.world.entity.projectile.ThrownTrident m_7941_()Lnet/minecraft/world/item/ItemStack; # getPickupItem
public net.minecraft.world.entity.projectile.SpectralArrow m_7941_()Lnet/minecraft/world/item/ItemStack; # getPickupItem
# Biome temperature modifiers
public net.minecraft.world.level.biome.Biome m_47505_(Lnet/minecraft/core/BlockPos;)F # getTemperature
#CounterAttackModifier
public net.minecraft.world.entity.LivingEntity f_20936_ # useItemRemaining
